.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.default {
    background-color: var(--backdrop-color);
  }
  &.transparent {
    background-color: transparent;
  }

  backdrop-filter: blur(var(--indent-xs));
  &.blur__none {
    backdrop-filter: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
}
