.header {
  border-bottom: 1px solid var(--border-color);
  z-index: 99;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messenger {
  margin: 0 !important;
  fill: var(--accent-color);

  &:hover {
    fill: var(--hover-color);
  }
}

.active {
  fill: #f39718 !important;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu_btn {
  border-radius: 50% !important;
  padding: 2px !important;
}
