.users__title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.users__item {
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;

  justify-items: center;
  align-items: center;
  cursor: pointer;
  transition: color 250ms;

  &:hover {
    color: var(--hover-color);
  }

  & .item__name {
    justify-self: left;
    text-transform: capitalize;
  }
}

.users__btn {
  width: 100%;
  border-radius: 15px;
}

.users__count {
  justify-self: left;
  white-space: nowrap;

  &::before {
    content: '[ ';
  }

  &::after {
    content: ' ]';
  }
}

.online {
  color: var(--active-color);
}
