.footer {
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  border-top: 1px solid var(--border-color);
}

.footer__wrap {
  text-align: right;

  & span {
    font-size: 20px;
    font-weight: 700;
    color: var(--hover-color);
  }
}
